@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>This is a demo page for a website application called PTR(e)x,</p>
<p>which was initially developed as a group project for We Can Code It.</p>
<p></p>
