@{
    ViewBag.Title = "Developer: Karen McEwen";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    Contact Karen<br />
    
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:karenmcewen.engineer@gmail.com">karenmcewen.engineer@gmail.com</a><br />
    
</address>